<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sumkabum_magento2productimport_console_disableproductswithoutimages" xsi:type="object">\Sumkabum\Magento2ProductImport\Console\DisableProductsWithoutImages</item>
            </argument>
        </arguments>
    </type>
    <preference for="\Sumkabum\Magento2ProductImport\Service\Image\ConsumerImageDataInterface" type="\Sumkabum\Magento2ProductImport\Service\Image\ConsumerImageData" />
    <preference for="\Sumkabum\Magento2ProductImport\Service\Image\ConsumerImageDataRowInterface" type="\Sumkabum\Magento2ProductImport\Service\Image\ConsumerImageDataRow" />
</config>
